.refund-policy-container {
    /* max-width: 900px; */
    margin: 20px auto;
    padding: 7rem;
    font-family: 'Arial', sans-serif;
    background-color: white;

}

.refund-policy-title {
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    color: #1758b3;

}

.refund-section {
    margin-bottom: 20px;
}

.section-title {
    font-size: 32px;
    font-weight: 600;
    color: #5a98ef;
    margin-top: 1rem;
    border-bottom: 1px solid #84bde4;
}

.section-description {
    margin-top: 1.5rem;
    font-size: 1.1em;
    color: #060606;
    font-weight: 300;
    /* margin-bottom: 10px; */
}

.section-list {
    list-style-type: disc;
    content: '•';
    padding-left: 20px;
}

.section-list li {
    margin-bottom: 5px;
    color: #555;
}