.dashboard{
    /* background-color: chartreuse; */
    /* background: linear-gradient(25deg, rgba(206,234,254,1) 0%, rgba(255,164,253,1) 100%); */
    /* padding: 4rem 4.8rem 6.4rem;
    font-size: 3rem;
    height: 70vh; */
}

.mainCharts {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 8rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2vw;
  flex-wrap: wrap;
}

.dataCard {
  background-color: #ffffff;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;
}

.revenueCard {
  width: 92%;
  height: 20rem;
}

.customerCard {
  width: 40%;
  height: 20rem;
}

.categoryCard {
  width: 40%;
  height: 20rem;
}

.polarCard {
  width: 40%;
  height: 20rem;
}

.indiaMapCard {
  width: 50%;
  height: 20rem;
}

.pieCard {
  width: 40%;
  height: 20rem;
}

.orderSummaryContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, auto); 
  gap: 78px; /* */
  /* margin-bottom: 20px; */
}

.orderSummaryCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px;
  border-radius: 10px;
  background-color: #fbfcf8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.orderSummary h3 {
  margin: 0;
  font-size: 24px;
}

.orderSummary p {
  margin: 0;
  font-size: 14px;
  color: #777;
}

.orderIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
