.dashboard{
    /* background-color: chartreuse; */
    /* background: linear-gradient(25deg, rgba(206,234,254,1) 0%, rgba(255,164,253,1) 100%); */
    /* padding: 4rem 4.8rem 6.4rem;
    font-size: 3rem;
    height: 70vh; */
}

.mainCharts {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 8rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2vw;
  flex-wrap: wrap;
}

.dataCard {
  background-color: #ffffff;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;
}

.revenueCard {
  width: 92%;
  height: 20rem;
}

.customerCard {
  width: 40%;
  height: 20rem;
}

.categoryCard {
  width: 40%;
  height: 20rem;
}

.polarCard {
  width: 40%;
  height: 20rem;
}

.indiaMapCard {
  width: 50%;
  height: 20rem;
}

.pieCard {
  width: 40%;
  height: 20rem;
}