.mainIntegrationHeader{
  display: flex;
  margin-top: "0rem";
  background-color: "white";
  border-radius: "2rem";
  flex-wrap: wrap;
  overflow-x: hidden;
}
.steps {
  margin: 4rem;
  width: 30rem;
 }
 .steps h1{
  color:   #60a5db;
 }
 .steps ol {
   padding: 1rem;
   line-height: 1.7rem;
   word-wrap: break-word; 
 }
 
 .steps ol ul {
   padding-left: 3rem;
 }
 
 @media (max-width: 600px) {
   .steps {
     margin: 0;
     width: 100%;
     margin-left: 13px;
   }
 
   .steps ol {
     padding: 0.5rem; 
   }
 }