
.formConsprt {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formsprt {
    display: flex;
    flex-direction: column;
}

.titlesprt {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.flex2sprt {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.flexsprt {
    display: flex;
    flex-direction: column;
}

.iptsprt {
    margin-bottom: 10px;
}

.inputsprt {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.ant-select-selector {
    border-radius: 5px !important;
}

.submitsprt {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitsprt:hover {
    background-color: #45a049;
}

.add-awb-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.add-awb-button:hover {
    background-color: #0056b3;
}
