.rbtn {
    height: 7rem;
    width: 20rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
}

.rbtncontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    height: 9rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    flex-wrap: wrap;
    overflow-x: hidden;
}

/* Individual button styles */
.rbtn1, .rbtn2, .rbtn3, .rbtn4 {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

/* Color and border styles for each button */
.rbtn1 {
    background-color: #d0e7ff;
    border: 1px solid #8abfff;
    color: #003d80;
}

.rbtn2 {
    background-color: #ffebcc;
    border: 1px solid #ffcc99;
    color: #cc6600;
}

.rbtn3 {
    background-color: #cceeed;
    border: 1px solid #7fe3d4;
    color: #00695c;
}

.rbtn4 {
    background-color: #f7d8e2;
    border: 1px solid #ff9db4;
    color: #d63f77;
}

/* Typography */
p {
    font-size: 0.8rem;
    font-weight: 300;
}

/* Responsive container for remittance */
.cod-remittance {
    padding: 1rem;
}

/* Header buttons layout */
.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* Layout adjustments for search and actions */
.search-and-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.search-actions, .right-actions {
    display: flex;
    gap: 2rem;
}

.table {
    width: 100%;
}

/* Responsive styles for screens 768px and below */
@media (max-width: 768px) {
    /* Make rbtncontainer items stack vertically */
    .rbtncontainer {
        flex-direction: column;
        align-items: flex-start;
        height: auto; /* Adjust height for smaller screens */
    }

    /* Adjust rbtn button sizes */
    .rbtn {
        width: 100%;
        height: auto;
    }

    /* Adjust layout for search actions */
    .search-actions, .right-actions {
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 20px;
    }

    /* Adjust search input width */
    .ant-input-search {
        width: 156px !important;
    }

    /* Make table scrollable on smaller screens */
    .table {
        width: 100%;
        overflow-x: auto;
    }
}
