.early-cod-popup {
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 1000;
}

.early-cod-popup h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
  text-align: center;
}

.early-cod-popup p {
  font-size: 16px;
  color: #666666;
  text-align: center;
  margin-bottom: 20px;
}

.early-cod-popup .cod-options {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 20px;
}

.early-cod-popup .cod-card {
  flex: 1;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 2rem;
  min-height: 400px;
  cursor: pointer;
  background-color: white;
  transition: border-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.early-cod-popup .cod-card:hover {
  transform: translateY(-5px);
  border-color: #40a9ff;
}

.early-cod-popup .cod-card.selected {
  border: 2px solid #40a9ff;
}

.early-cod-popup .most-popular-tag {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(45deg, #fdd835, #f57f17);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.early-cod-popup .cod-card.most-popular {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: white;
}

.early-cod-popup .cod-card h3 {
  font-size: 30px;
}

.early-cod-popup .cod-card.most-popular h3,
.early-cod-popup .cod-card.most-popular p {
  color: white;
}

.early-cod-popup .cod-card p {
  font-size: 30px;
  font-weight: 500;
  color: #666666;
  margin: 0;
}

.early-cod-popup .cod-card ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  text-align: center;
}

.early-cod-popup .cod-card ul li {
  font-size: 14px;
  color: #444444;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.early-cod-popup .cod-card.most-popular ul li {
  color: white;
}

.early-cod-popup .cod-card .ant-btn {
  background-color: #40a9ff;
  border: none;
  color: white;
  font-weight: bold;
  width: 100%;
}

.early-cod-popup .cod-card.most-popular .ant-btn {
  background-color: white;
  color: #40a9ff;
}

.early-cod-popup .cod-card .ant-btn:disabled {
  background-color: #d9d9d9;
  cursor: not-allowed;
}

.early-cod-popup .ant-checkbox-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.early-cod-popup .ant-checkbox-wrapper a {
  color: #40a9ff;
  text-decoration: underline;
}

.early-cod-popup .ant-checkbox-wrapper a:hover {
  color: #096dd9;
}

.ant-modal {
  top: 20px;
}

.ant-modal-content {
  border-radius: 10px;
}

.ant-modal-close {
  top: 20px;
  right: 20px;
}

.ant-modal-footer {
  display: none;
}
