.sidebar {
    font-size: 3rem;
    grid-row: 1 / -1;
    box-shadow: 0px 0px 5px #fff;
    z-index: 999;
    transition: transform 0.3s ease; /* Smooth transition for toggling */
}

.sidebar.open {
    transform: translateX(0); /* Sidebar fully visible */
}

.sidebar.closed {
    transform: translateX(-100%); /* Hide the sidebar off-screen */
}

.side-items {
    color: #fff;
    box-shadow: 0px 0px 6px 6px #e1e1e185;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 0px;
}

.logo-icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between !important;
    font-size: 1rem;
}

.toggle-theme-btn {
    position: absolute;
    bottom: 30px;
    left: 20px;
    display: flex;
    font-size: 1rem;
}

.toggle {
    margin-left: 15px;
}

.toggler {
    background-color: #fff;
    padding: 0;
}

/* Hamburger menu style */
.hamburger-menu {
    display: block;
    position: absolute;
    top: 16px;
    left: 20px; /* Adjusted to a more consistent value for mobile */
    z-index: 1000; /* Ensure the button stays on top */
    cursor: pointer;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .sidebar {
        /* transform: translateX(-100%); Keep it hidden initially */
    }

    .ant-drawer-content-wrapper {
        box-shadow: none !important;
        width: 75%; /* Adjust for better mobile fit */
    }

    .ant-drawer-content {
        width: 100%;
        height: 100%;
        overflow: auto;
        background: #ffffff;
    }

    .ant-drawer-body {
        padding: 0;
    }
}

