
.mainConti{
    /* background-image: url('../../utils/yellowbac.png'); */
    background-image: url('../../utils/white-truck.png');
    width: 100vw;
    /* margin-top: -5rem; */
    /* height: 60vh; */
    display: flex;
     /* justify-content: flex-end; */

    align-items: center;
}