
.mainConti{
    background-image: url('../../utils/yellowbac.png');
    width: 100vw;
    /* margin-top: -5rem; */
    height: 100vh;
    display: flex;
     /* justify-content: flex-end; */

    align-items: center;
}